name: Check PR Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  # Ensures that the PR title adheres to [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/).
  conventional-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: bullfrogsec/bullfrog@dcde5841b19b7ef693224207a7fdec67fce604db # v0.8.3
      - uses: amannn/action-semantic-pull-request@3f20459aa1121f2f0093f06f565a95fe7c5cf402 # v3.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}