name: Lint
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: bullfrogsec/bullfrog@dcde5841b19b7ef693224207a7fdec67fce604db # v0.8.3
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Install modules
      run: yarn --frozen-lockfile
    - name: Run ESLint
      run: yarn lint